@use '@angular/material' as mat;

html {
  height: 100%;
  // Definindo o tema Dark Mode com Tons de Roxo (Attus Style)
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$violet-palette,
        tertiary: mat.$magenta-palette,
      ),
      typography: (
        family: 'Outfit, Roboto, sans-serif',
      ),
      density: 0,
    )
  );
}

body {
  // Aplicando o esquema de cores dark nativamente
  color-scheme: dark;
  background-color: #0d0118; // Fundo roxo profundo quase preto
  color: #e1e1e1;
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
